//colors

//text
$h-color: #282828;
$h-light: #fff;
$color-p: #8a8a8a;
$accent-color: #fb8686;
$small-color: #b4b5b9;
//text-regiester section
$regiester-text-color: #999cb4;
$regiester-span-color: #f6f5f3;


//background
$primary-bg-color: #ffffff;
$secondary-bg-color: #f6f5f3;
$regiestration-color: #323969;
$dark-bg: #4e4e5e;

//color accents
$primary-accent-bg-color: #fb8686;
$secondary-accent-bg-color: #ececec;

//button colors
$btn-text-color: #ffffff;
$btn-bg-color: #fb8686;
$btn-play-color: #8286a3;

//input colors
$inputs-border-color: #999cb4;
$input-text-color: #f6f5f3;
$input-bg-color: #464c77;
$input-bg-footer-color: #b8b8bf;